*{
    margin:0;
    padding: 0;
}
body{
    background: url("https://thumbs.dreamstime.com/t/golden-olive-gradient-background-striking-colorful-pattern-86466681.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.sts{
    display: block;
    text-align: center;
    background: green;
    color:white;
    font-size: 20px;
    font-weight: 600;
    width: 60%;
    margin-left: 20%;
    padding:4px 0px;
    margin-top:5px;
}
.opt{
    display: block;
    width:80%;
    margin-left: 10%;
    background-color: cornflowerblue;
    padding:10px 10px;
    margin-top:10px;
    border-radius: 10px;
}
label{
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    width:40%;
    margin-left: 10%;
    margin-bottom: 15px;
}
input{
    display: inline-block;
    border:none;
    padding: 7px 7px;
    width: 38%;
    margin-left: 1%;
    margin-bottom: 15px;
    border-radius: 10px;
}
input[type="Submit"]{
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    background-color:blue;
    color:white;
    cursor: pointer;
}
input[type="Submit"]:hover{
    background: rgba(0,0,0,0.4);
    color:ghostwhite;
}
.wlc{
    display: block;
    font-family: "Lucida Console", "Courier New", monospace;
    color:deepskyblue;
    font-size: 30px;
    font-weight: bold;
    margin-top:10px;
}
.table{
    display: block;
    text-align: center;
    background-color: deeppink;
    justify-content: center;
    width:98%;
    margin-left: 1%;
    border-radius: 20px;
    border: 1px solid grey;
    padding: 3px 0px;
    margin-top:30px;
}
.table .tr{
    display: block;
    width:98%;
    text-align: center;
    background-color: antiquewhite;
    margin-left: 1%;
}
.table .tr .th{
    display: inline-block;
    width:22%;
    height: 40px;
    
}
.td {
    display: block;
    width: 100%;
    height: 40px;
    background-color:beige; 
}
.tp{
    font-size: 25px;
    font-weight: bold;
    
    color:dodgerblue;
}